<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yemekler</title>
    <link rel="stylesheet" href="../css/icerik.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="../image/png" href="../images/ana_sayfa/yemekler.jpg">

</head>
<body>
    <header class="header">
        <a href="../index.html" class="logo">Konalga.</a>
        <div id="menu-icon" class="menu-icon"><i class='bx bx-menu'></i></div>
            <nav class="navbar">
                <a href="../index.html">Menü</a>
                <span class="active-nav"></span>
            </nav>        
    </header>
    
    <!-- Menüdeki kartlar -->
    <section class="card" id="card">
        <h2 class="heading">Yemekler</h2>
        <div class="card-container">            
            <div class="card-box">
                <div class="image-container">
                    <img src="../images/yemekler/omlet.png" alt="İçecek Resmi">
                </div>                
                <div class="content">
                    <h4>Omlet</h4>
                    <p>Servis süresi ortalama 10 dk'dır</p>
                    <span>210 TL</span>
                </div>
            </div>
            <div class="card-box">                
                <div class="image-container">
                    <img src="../images/yemekler/menemen.jpeg" alt="İçecek Resmi">
                </div>                
                <div class="content">
                    <h4>Menemen</h4>
                    <p>Servis süresi ortalama 20 dk'dır</p>
                    <span>210 TL</span>
                </div>
            </div>
            <div class="card-box">                
                <div class="image-container">
                    <img src="../images/yemekler/frankfurter_kruvasan.jpeg" alt="İçecek Resmi">
                </div>                
                <div class="content">
                    <h4>Frankfurter Kruvasan </h4>
                    <p>Servis süresi ortalama 15 dk'dır</p>
                    <span>320 TL</span>
                </div>
            </div>
            <div class="card-box">                
                <div class="image-container">
                    <img src="../images/yemekler/granola_bowl.jpeg" alt="İçecek Resmi">
                </div>                
                <div class="content">
                    <h4>Granola Bowl</h4>
                    <p>Servis süresi ortalama 15 dk'dır</p>
                    <span>300 TL</span>
                </div>
            </div>
            <div class="card-box">                
                <div class="image-container">
                    <img src="../images/yemekler/vegan_bowl.jpeg" alt="İçecek Resmi">
                </div>                
                <div class="content">
                    <h4>Vegan Bowl</h4>
                    <p>Servis süresi ortalama 20 dk'dır</p>
                    <span>300 TL</span>
                </div>
            </div>
            <div class="card-box">                
                <div class="image-container">
                    <img src="../images/yemekler/acili_tavuklu_bowl.jpeg" alt="İçecek Resmi">
                </div>                
                <div class="content">
                    <h4>Acılı Tavuklu Bowl</h4>
                    <p>Servis süresi ortalama 20 dk'dır</p>
                    <span>300 TL</span>
                </div>
            </div>
            <div class="card-box">                
                <div class="image-container">
                    <img src="../images/yemekler/balli_tavuklu_bowl.jpeg" alt="İçecek Resmi">
                </div>                
                <div class="content">
                    <h4>Ballı Tavuklu Bowl</h4>
                    <p>Servis süresi ortalama 20 dk'dır</p>
                    <span>300 TL</span>
                </div>
            </div>
            <div class="card-box">                
                <div class="image-container">
                    <img src="../images/yemekler/tavuk_burger.jpeg" alt="İçecek Resmi">
                </div>                
                <div class="content">
                    <h4>Tavuk Burger</h4>
                    <p>Servis süresi ortalama 15 dk'dır</p>
                    <span>320 TL</span>
                </div>
            </div>
        </div>

    </section>

    <script src="js/script.js"></script>
</body>
</html>